* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  min-height: 100vh;
  justify-content: center;

  background-image: url(./img/fondo.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}


#container {
  display: grid;
  margin-top: 150px;
  grid-template-columns: [first] 200px [second] 200px [third] 200px [fourth] 200px [fifth] 200px;
  grid-template-rows: 200px 200px 200px 200px;
  grid-gap: 80px;
  height: 1100px;
  background-image: linear-gradient(90deg,#52c5df0a,#ad55c10a);
  border-radius: 10px;
}

#container img {
  width: 200px;
  height: 200px;
  border-radius: 8px;
}
.img-top {
  grid-row-start: 1;
  
}
#img-1 {
  grid-column-start: 1;
}
#img-2 {
  grid-column-start: 2;
}
#img-3 {
  grid-column-start: 3;
}

#LunaP {
  grid-column-start: fifth;
  grid-column-end: fifth;
  grid-row-start: 1;
  grid-row-end: 1;
  justify-self: center;
}

#LunaC {
  grid-column-start: fifth;
  grid-row-start: 3;
  grid-row-end: 3;
  justify-self: center;
}

#ColorB {
  grid-column-start: fourth;
  grid-column-end: fourth;
  justify-self: center;
}

#gati1 {
  grid-column-start: second;
  grid-column-end: second;
  grid-row-start: 4;
  grid-row-end: 4;
}

#gati2 {
  grid-column-start: fourth;
  grid-column-end: fourth;
  grid-row-start: 4;
  grid-row-end: 4;
}
