#container{
    display: grid ;
    grid-template-columns: [first] 200px [second] 200px [third] 200px [fouth] 200px [fifth] 200px;
    grid-template-rows: 200px 200px 200px 200px ;
    column-gap: 80px;
    row-gap: 80px;
}