* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  min-height: 100vh;
  justify-content: center;
}


#container {
  display: grid;
  grid-template-columns: [first] 200px [second] 200px [third] 200px [fouth] 200px [fifth] 200px;
  grid-template-rows: 200px 200px 200px 200px;
  grid-gap: 80px;
}

#container img {
  width: 200px;
  height: 200px;
}
.img-top {
  grid-row-start: 1;
  border-radius: 8px;
}
#img-1 {
  grid-column-start: 1;
}
#img-2 {
  grid-column-start: 2;
}
#img-3 {
  grid-column-start: 3;
}

#LunaP {
  grid-column-start: fifth;
  grid-column-end: fifth;
  grid-row-start: 1;
  grid-row-end: 1;
  justify-self: center;
}

#LunaC {
  grid-column-start: fifth;

  grid-row-start: 3;
  grid-row-end: 3;
  justify-self: center;
}

#ColorB {
  grid-column-start: fouth;
  grid-column-end: fouth;
  justify-self: center;
}
